@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Content/Images/Professional Photo LB.jpg" />
        </div>
        <div class="col-lg-9 about">
            <br />
            <br />
            <br />

            No Fears Missions was founded by Laura Branham, a student at Brigham Young University from Chicago, Illinois. After having many friends leave on their missions
            afraid of the experience ahead of them, she decided that these nerves could be soothed with more information. She decided to found No Fears which gives prospective
            missionaries information about their missions and the experience there. It also allows past missionaries to leave remarks and advice. Laura wants all missionaries
            to think 'Two Years? No Fears!' before they embark on their mission!

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 minipic">
            <a href="https://www.instagram.com/laurabora20/"><img src="https://lh3.googleusercontent.com/aYbdIM1abwyVSUZLDKoE0CDZGRhlkpsaPOg9tNnBktUQYsXflwknnOn2Ge1Yr7rImGk=w300" /></a>
            <a href="https://www.linkedin.com/in/laura-branham"><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" /></a>
            <a href="mailto:lbranham12@yahoo.com"><img src="https://www.mageewp.com/wp-content/uploads/2016/08/mail.png" /></a>
        </div>
    </div>
</div>