@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>
<div class="contact">
    <h4> Please reach out with any questions or concerns.</h4>

    <address>
        76 Main St, <br />
        Salt Lake City, UT 84150<br />
        <abbr title="Phone">P:</abbr>
        801.000.0000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

    <div class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <!---Map Yo-->
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'>
                <div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://www.embedgooglemaps.com/en/">									Give your customers directions									Get found</a></small></div><div><small><a href="http://diensten-vakmensen.marktplaats.nl/a/diensten-en-vakmensen/reparatie-en-onderhoud-sloten/1577921-slotenmaker-middelburg.html?">De professionals in Middelburg en omstreken</a></small></div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArjRKGiInhY2HHWUfHPMuLPiPEOMgAo_g&callback=initMap" async defer>
                </script>
                <style>
                    #gmap_canvas img {
                        max-width: none !important;
                        background: none !important;
                    }
                </style>
            </div>
            <script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(40.771038, -111.889808), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(40.771038, -111.889808) }); infowindow = new google.maps.InfoWindow({ content: '<strong>No Fears</strong><br>Salt Lake City, UT<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>


<!---Form-->
<center>
    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
        <div class="row">
            <label for="name">Your name:</label><br />
            <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
        </div>
        <div class="row">
            <label for="email">Your email:</label><br />
            <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
        </div>
        <div class="row">
            <label for="subject">Subject:</label><br />
            <select>
                <option value="Concern">Concerns</option>
                <option value="questions">Company Questions</option>
                <option value="suggestions">Website Suggestions</option>
                <option value="gquestions">General Questions</option>
            </select>
        </div>
        <div class="row">
            <label for="message">Your message:</label><br />
            <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
        </div>
        <input id="submit_button" type="submit" value="Send email" />
    </form>
</center>